{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      <span>Posted on: {{ dateFormat "Jan 2, 2006" .Date }}</span>
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ if .Params.image }}
      <!-- <img src="{{ .Params.image | relURL }}" /> -->
      <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
  </div>
{{ end }}